body {
  background-color: rgba(0, 0, 0, .05);
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #444;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 400;
}

.footer {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 30px;
  padding: 23px 66px;
  border-style: none;
  background-color: #444;
}

.footer-categories {
  font-family: Lato, sans-serif;
  color: #00a651;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.footer-categories.donation {
  margin-top: 19px;
  margin-bottom: auto;
  text-align: center;
  text-transform: uppercase;
}

.footer-links {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  clear: none;
  color: #fff;
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-links:hover {
  color: #00a651;
}

.social-icon-footer {
  width: 40px;
  margin: 10px 5px;
}

.navbarlink {
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
}

.navbarlink:hover {
  background-color: #00a651;
}

.navbarlink.w--current {
  color: #00a651;
}

.navbarlink.w--open {
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.homepagehero {
  margin-top: 0px;
}

.homepageheroslider {
  height: 800px;
}

.hero-sentence {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: block;
  width: 550px;
  margin: 0px auto 11px;
  clear: none;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 51px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
}

.hero-undertittle {
  position: relative;
  z-index: 3;
  display: block;
  width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 31px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

.darken {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, .2);
}

.hero-text-holder {
  position: absolute;
  left: 0px;
  top: 131px;
  right: 0px;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.hero-slider-image {
  width: 100%;
}

.mask-darken {
  z-index: 1;
  display: block;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, .55);
}

.hero-and-slider-section {
  font-size: 13px;
  text-align: center;
}

.hero-and-slider-section.mobile {
  display: none;
}

.content-section {
  padding: 60px 20px 20px;
}

.content-section.projects {
  display: block;
}

.home-page-column {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 4%;
  padding-left: 4%;
  text-align: center;
}

.home-page-heading2 {
  font-family: Lato, sans-serif;
  color: #6b6a6a;
}

.text-link {
  display: block;
  clear: none;
  -webkit-transition: font-size 400ms ease, margin-bottom 1000ms ease;
  transition: font-size 400ms ease, margin-bottom 1000ms ease;
  font-family: Lato, sans-serif;
  color: #00a651;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.text-link:hover {
  border-bottom: 1px solid #00a651;
  font-size: 15px;
  text-decoration: none;
}

.text-link.see-all {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.text-link.inline {
  display: inline-block;
  float: left;
}

.so-far-banner {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #00a651;
}

.so-far-div {
  padding: 15px;
  border: 6px solid #fff;
}

.so-far-paragraph {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 29px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.updates-small-paragraph {
  display: inline;
  float: left;
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
}

.featured {
  margin-bottom: 51px;
  padding-right: 23px;
  padding-left: 23px;
}

.feautured-h3 {
  margin-bottom: 20px;
  clear: both;
  font-family: Lato, sans-serif;
  color: #5f5e5e;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

.feautured-h3.countries {
  display: inline-block;
  margin-top: 19px;
  margin-right: 6px;
  margin-bottom: 0px;
  font-size: 24px;
  font-style: italic;
  text-align: left;
}

.feauture-listing-div {
  height: 257px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .23);
  background-color: #fff;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .46);
}

.feauture-listing-div.organization {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.feature-listing-tittle {
  overflow: hidden;
  max-height: 60px;
  margin: 0px;
  padding-top: 3px;
  float: none;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 28px;
  line-height: 24px;
  font-weight: 200;
  text-transform: capitalize;
  text-shadow: 0 0 25px #000;
}

.feature-listing-tittle.organizations {
  max-height: 75px;
}

.feature-listing-author {
  display: block;
  width: 60px;
  height: 60px;
  margin: 10px auto;
  float: none;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #fff;
  background-image: url('../images/org-logo.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-listing-author.small {
  display: none;
}

.feauture-listing-subtittle {
  overflow: hidden;
  height: 20px;
  margin-top: 2px;
  padding-left: 0px;
  float: none;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-shadow: 1px 1px 13px #000;
}

.featured-listing-bold-black {
  margin-bottom: 5px;
  margin-left: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 18px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.featured-hero-shot {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  overflow: visible;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: 125px;
}

.featured-hero-div {
  overflow: hidden;
  height: 250px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-image: url('../images/example-bg.png'), url('../images/example-bg.png');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, repeat;
}

.base-featured-div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.feauture-based-in {
  display: inline;
  margin-right: 2px;
  margin-bottom: auto;
  margin-left: 0px;
  float: left;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0px;
  text-shadow: 0 0 23px #000;
}

.feauture-based-in.subtittle {
  font-size: 17px;
}

.feauture-based-in.organizations {
  font-size: 14px;
}

.tags {
  display: block;
  font-family: Lato, sans-serif;
  color: #7c7c7c;
  font-size: 15px;
  font-style: italic;
  text-transform: capitalize;
}

.willing-to-travel-div {
  clear: both;
}

.home-page-symbols {
  padding: 10px;
  background-color: #00a651;
}

.listing-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  color: #2e2d2d;
  text-decoration: none;
}

.listing-link.empty {
  max-width: 490px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.listing-link.empty.small {
  max-width: 200px;
}

.profile-picture {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 4px solid #fff;
  border-radius: 100%;
  background-color: #fff;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-picture.thumbnail {
  width: 35px;
  height: 35px;
  border-width: 1px;
}

.profile-picture.empty {
  width: 50px;
  height: 50px;
  border-style: none;
  border-width: 0px;
  background-color: #000;
  background-image: url('../images/org-logo-home-64px.png');
  background-size: contain;
}

.profile-picture.organization {
  background-size: contain;
}

.profile-tittle {
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #00a651;
  font-weight: 200;
  text-transform: uppercase;
}

.profile-tittle.inline {
  display: inline-block;
  margin-right: 9px;
}

.general-paragraph {
  margin-top: 5px;
  font-family: Lato, sans-serif;
  color: #878787;
  font-size: 15px;
  font-style: italic;
}

.general-paragraph.faq {
  overflow: hidden;
}

.general-paragraph.hero {
  position: relative;
  z-index: 3;
  color: #e7e7e7;
}

.supporting-causes-div {
  margin-top: 25px;
}

.supporting-causes-div.photographer {
  display: none;
}

.div-padding-10 {
  padding: 5px 10px;
  text-decoration: none;
}

.portfolio-tittle {
  font-family: Lato, sans-serif;
  color: #4b4b4b;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.portfolio-images {
  display: block;
  margin: 6px auto;
}

.lightbox-section {
  position: fixed;
  z-index: 3;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, .98);
}

.image-lightbox {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  overflow: visible;
  max-height: 80%;
  max-width: 90%;
  margin-top: 130px;
  margin-right: auto;
  margin-left: auto;
  border: 6px none #fff;
}

.lightbox-section2 {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 75, 75, .95);
}

.portfolio-slider {
  width: 100%;
  height: 700px;
  margin-bottom: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #242424;
  font-family: Lato, sans-serif;
  font-size: 21px;
  line-height: 24px;
  font-weight: 100;
}

.portfolio-slider-image {
  display: block;
  height: 100%;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-button {
  display: block;
  width: 70%;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #00a651;
  -webkit-transition: box-shadow 700ms ease, font-size 500ms ease;
  transition: box-shadow 700ms ease, font-size 500ms ease;
  font-family: Lato, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.contact-button:hover {
  border: 3px none #00a651;
  background-color: #00a651;
  box-shadow: inset 0 0 24px -2px #fff;
  color: #fff;
  font-size: 15px;
}

.contact-session {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 75, 75, .67);
}

.contact-photographer-form {
  margin-top: 149px;
  padding: 10px;
  border: 7px solid #fff;
  background-color: #e7e7e7;
}

.get-country {
  display: inline;
  padding-left: 4px;
  float: left;
  font-family: Lato, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.feature-content-div {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 110px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  border-style: none;
  border-width: 3px 1px 3px 3px;
  border-color: #000;
  background-color: #444;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), -webkit-linear-gradient(270deg, transparent 100%, #242424);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), linear-gradient(180deg, transparent 100%, #242424);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, .56);
}

.feature-content-div:hover {
  display: block;
  overflow: hidden;
}

.feature-content-div.jobs {
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.feature-content-div.organization {
  height: 110px;
  padding-top: 5px;
  border-bottom-style: solid;
}

.feature-content-top {
  padding-right: 10px;
  padding-left: 10px;
  background-image: -webkit-linear-gradient(88deg, transparent 16%, #242424);
  background-image: linear-gradient(2deg, transparent 16%, #242424);
}

.location-featured-symbol {
  border: 1px none #fff;
  text-shadow: 1px 1px 6px #fff;
}

.darken-feature {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, rgba(75, 75, 75, .5), rgba(75, 75, 75, .5));
  background-image: linear-gradient(180deg, rgba(75, 75, 75, .5), rgba(75, 75, 75, .5));
}

.darken-feature:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(75, 75, 75, 0), rgba(75, 75, 75, 0));
  background-image: linear-gradient(180deg, rgba(75, 75, 75, 0), rgba(75, 75, 75, 0));
}

.featured-photographers-list {
  display: block;
}

.listing-subtittle {
  display: block;
  overflow: hidden;
  max-height: 16px;
  margin-right: 3px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.listing-subtittle.page {
  display: inline-block;
  color: #242424;
  line-height: 12px;
}

.based-in {
  display: inline-block;
  margin-right: 4px;
  float: left;
  font-family: Lato, sans-serif;
  color: #878787;
  font-size: 16px;
  font-style: italic;
}

.based-in.line-break {
  position: static;
  float: left;
  clear: none;
}

.listing-div {
  overflow: hidden;
  padding-bottom: 11px;
  border-top: 2px none #000;
  border-bottom: 5px solid #000;
  background-color: #202020;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .32);
  color: #1b1818;
}

.listing-div.organizations {
  border-bottom-width: 3px;
}

.normal-listing-titttle {
  display: inline-block;
  overflow: hidden;
  max-height: 44px;
  margin-top: 0px;
  margin-bottom: 0px;
  clear: both;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  font-weight: 200;
  text-transform: uppercase;
}

.normal-listing-titttle.organizations {
  max-height: 80px;
  font-size: 16px;
  line-height: 20px;
}

.normal-listing-hero {
  height: 170px;
  background-color: #4b4b4b;
  background-image: url('../images/Fair-shotsV3.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.normal-listing-hero.empty {
  background-size: contain;
}

.normal-listing-hero.organization {
  background-color: #fff;
  background-size: contain;
}

.fund-div {
  position: relative;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: inline-block;
  overflow: visible;
  padding: 5px;
  float: right;
  background-color: #fff;
  -webkit-perspective-origin: 100% 100%;
  perspective-origin: 100% 100%;
  font-family: Lato, sans-serif;
  color: #242424;
}

.fund-text {
  display: inline-block;
  margin-right: 3px;
  float: left;
}

.listing-labels {
  margin-top: 10px;
  font-size: 15px;
  line-height: 17px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.details-block {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
}

.green-tags {
  display: inline-block;
  margin-top: 10px;
  margin-right: 4px;
  font-family: Lato, sans-serif;
  color: #00a651;
}

.green-tags.location {
  display: block;
  margin-top: 0px;
  float: left;
}

.reference-slider {
  display: block;
  width: 100%;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
}

.listing-category-box {
  position: absolute;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  float: left;
  clear: none;
  color: #fff;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.hover-description-div {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 43px 13px 8px 12px;
  background-color: rgba(75, 75, 75, .92);
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 17px;
  font-style: italic;
}

.hover-description-div:hover {
  display: block;
}

.dynamic-countries-list {
  position: static;
  display: inline;
  float: left;
}

.featured-dynamic-item {
  display: block;
  width: 45%;
  margin-right: 1%;
}

.normal-dynamic-listing-item {
  width: 20%;
  margin-right: 1%;
}

.category-search-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 1px;
  padding: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #00a651;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  font-family: Lato, sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.category-search-button:hover {
  box-shadow: inset 0 0 17px 0 #fff;
}

.category-search-button.back {
  margin-top: 3px;
  background-color: #4b4b4b;
  font-size: 14px;
  font-weight: 100;
}

.category-search-button.causes {
  display: block;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-right: 3px none #000;
  border-bottom: 3px none #000;
  border-left: 5px none #000;
  background-color: #4b4b4b;
  font-weight: 300;
}

.category-search-button.causes:hover {
  box-shadow: inset 0 0 36px -7px #fff;
}

.uh-oh {
  font-family: Lato, sans-serif;
  color: #00a651;
  text-transform: uppercase;
}

.empty-search-message {
  display: block;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

.page-tabs {
  display: block;
  width: 90%;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
}

.page-tab-link {
  display: block;
  width: 20%;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.page-tab-link.w--current {
  display: block;
  width: 200px;
}

.tab-link {
  display: block;
  width: 30%;
  height: 80px;
  margin-top: 6px;
  margin-right: 2%;
  margin-bottom: 6px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  background-color: #00a651;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.tab-link:hover {
  box-shadow: inset 0 0 12px 0 #fff;
}

.tab-link.w--current {
  display: inline-block;
  border: 3px none #fff;
  background-color: #00a651;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.tab-link.w--current:hover {
  box-shadow: inset 0 0 12px 0 #fff;
}

.tab-link.register {
  display: inline-block;
  width: 20%;
  height: 50px;
  margin-right: 19px;
  margin-left: 19px;
  float: none;
  font-weight: 400;
}

.tab-link.register.w--current {
  border-style: none;
  border-width: 1px 1px 4px;
  border-color: #000 #000 #242424;
}

.tab-text {
  display: inline;
  margin-right: 4px;
  font-size: 15px;
}

.dynamic-list-block {
  display: block;
  clear: none;
}

.center-div {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.tabs-content {
  position: relative;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.tab-arrow {
  left: 0px;
  right: 0px;
  bottom: -17px;
  z-index: -1;
  display: block;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
}

.tab-menu {
  display: block;
  margin-bottom: 20px;
}

.empty-search {
  display: block;
  background-color: transparent;
  color: #4b4b4b;
}

.no-results-hero-large {
  display: block;
  height: 257px;
  margin-right: auto;
  margin-left: auto;
  background-color: #4b4b4b;
  background-image: url('../images/Fair-shotsV3.png');
  background-position: 50% 50%;
  background-size: 60%;
  background-repeat: no-repeat;
}

.no-results-hero-large.small {
  height: 150px;
}

.line-break {
  display: inline-block;
  width: 100%;
  height: 1px;
}

.dynamic-item-45 {
  width: 45%;
  margin-right: 5%;
}

.dynamic-item-20 {
  width: 20%;
  margin-right: 1%;
}

.single-dynamic-list {
  width: 45%;
  margin-right: 1%;
  margin-left: 1%;
  float: left;
}

.filters-div {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 5;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 849px;
  border: 4px none #00a651;
  background-color: rgba(75, 75, 75, .8);
  box-shadow: 0 16px 29px -7px #000;
  color: #e7e7e7;
}

.filter-button {
  position: fixed;
  left: -1px;
  top: 80px;
  z-index: 6;
  background-color: #00a651;
  box-shadow: 6px 6px 21px -11px #000;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}

.filter-button:hover {
  box-shadow: 6px 6px 21px -11px #000, inset 0 0 15px 0 #fff;
}

.filter-session {
  position: absolute;
  top: 107px;
  z-index: 2;
  box-shadow: 8px 8px 27px -9px #000;
}

.filters-window {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  display: block;
  overflow: auto;
  width: 0px;
  height: 100%;
  padding-top: 119px;
  padding-bottom: 20px;
  border-top: 2px solid #878787;
  border-right: 2px solid #878787;
  border-top-right-radius: 10px;
  background-color: #e7e7e7;
  box-shadow: 0 0 29px -7px #000;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.message-section {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  overflow: auto;
  height: 0px;
  border-style: solid none none;
  border-width: 4px 1px 1px;
  border-color: #878787 #000 #000;
  background-color: #e7e7e7;
  box-shadow: 0 -1px 16px 0 #000;
  -webkit-transition: height 500ms ease;
  transition: height 500ms ease;
}

.message-form {
  padding-top: 30px;
  padding-right: 5%;
  padding-left: 5%;
  font-family: Lato, sans-serif;
}

.message-text-area {
  display: block;
  overflow: auto;
  height: 203px;
  border: 2px none #00a651;
}

.form-label {
  height: 50px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: auto 50px;
  background-repeat: no-repeat;
}

.dropdown-link {
  background-color: #444;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
}

.dropdown-link:hover {
  background-color: #00a651;
}

.dropdown-link.w--current {
  color: #00a651;
  font-weight: 300;
}

.close-message-button {
  display: block;
  width: 9%;
  height: 24px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #00a651;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.close-message-button:hover {
  box-shadow: inset 0 0 8px 0 #fff;
}

.about-green-tittles {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #00a651;
  font-weight: 300;
  text-transform: uppercase;
}

.about-green-tittles.faq {
  display: block;
  margin-top: 0px;
  margin-right: 4px;
  float: none;
  -webkit-transition: font-size 317ms ease, opacity 200ms ease;
  transition: font-size 317ms ease, opacity 200ms ease;
}

.about-green-tittles.faq:hover {
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline;
}

.green-divs {
  padding: 20px;
  background-color: #00a651;
  font-family: Lato, sans-serif;
  color: #fff;
  text-align: center;
}

.green-box-tittle {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.team-list {
  display: block;
  margin-top: 0px;
  margin-bottom: 37px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.team-member-image {
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 100px;
}

.team-div {
  display: none;
  margin-top: 50px;
}

.help-div {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-us {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.message-text-box {
  min-height: 150px;
}

.register-tab-menu {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hide {
  display: none;
}

.external-forms {
  margin-top: 24px;
  border: 2px none #fff;
}

.infographic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #00a651;
}

.faq-paragraph {
  overflow: hidden;
  height: 0px;
  color: #878787;
  font-size: 15px;
  font-style: italic;
}

.faq-arrow {
  display: inline-block;
  width: 7px;
  margin-right: 5px;
  float: left;
}

.donate-widget {
  display: block;
  margin: 5px auto 28px;
  text-align: center;
}

.regional-tabs {
  margin-top: 100px;
}

.message-disclaimer {
  margin-right: 5px;
  padding-right: 0px;
  float: left;
  text-align: left;
}

.maps-info {
  display: none;
}

.collection-list-wrapper {
  display: none;
}

.join-button {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  display: block;
  overflow: visible;
  width: 200px;
  margin-top: 140px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  background-color: #00a651;
  text-align: center;
}

.about-us-image {
  width: 100%;
  height: 400px;
}

.about-us-image-section {
  height: 400px;
  background-image: url('../images/fairshots-family.jpg');
  background-position: 50% 0px;
  background-size: 100%;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  margin-top: 0px;
  padding-top: 92px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

html.w-mod-js *[data-ix="lightbox-image1"] {
  opacity: 1;
}

html.w-mod-js *[data-ix="lightbox-image-2"] {
  opacity: 1;
}

html.w-mod-js *[data-ix="tab-arrow"] {
  opacity: 0;
  -webkit-transform: translate(0px, -10px) scale(1, 0.3);
  -ms-transform: translate(0px, -10px) scale(1, 0.3);
  transform: translate(0px, -10px) scale(1, 0.3);
}

html.w-mod-js *[data-ix="hero-sliding"] {
  opacity: 0;
  -webkit-transform: translate(-1000px, 0px);
  -ms-transform: translate(-1000px, 0px);
  transform: translate(-1000px, 0px);
}

html.w-mod-js *[data-ix="hero-sliding-2"] {
  opacity: 0;
  -webkit-transform: translate(-1000px, 0px);
  -ms-transform: translate(-1000px, 0px);
  transform: translate(-1000px, 0px);
}

html.w-mod-js *[data-ix="grow-on-scroll"] {
  -webkit-transform: scale(0.85, 0.85);
  -ms-transform: scale(0.85, 0.85);
  transform: scale(0.85, 0.85);
}

@media (max-width: 991px) {
  .homepageheroslider {
    height: 424px;
  }
  .hero-sentence {
    top: 12%;
    font-size: 48px;
    line-height: 50px;
  }
  .hero-undertittle {
    font-size: 27px;
  }
  .darken {
    height: 430px;
  }
  .hero-text-holder {
    display: block;
    padding-top: 0px;
  }
  .feature-listing-tittle {
    overflow: hidden;
    max-height: 48px;
    font-size: 22px;
  }
  .feature-listing-author {
    width: 45px;
    height: 45px;
    margin-left: 0px;
  }
  .feauture-based-in {
    font-size: 12px;
  }
  .profile-picture {
    width: 120px;
    height: 120px;
  }
  .profile-picture.thumbnail {
    display: none;
  }
  .portfolio-slider-image {
    height: auto;
    background-image: none;
  }
  .feature-content-div {
    height: 120px;
  }
  .listing-subtittle {
    overflow: hidden;
    height: 17px;
    font-size: 10px;
    text-transform: none;
  }
  .listing-div {
    overflow: hidden;
  }
  .normal-listing-titttle {
    max-height: 41px;
    font-size: 18px;
    line-height: 20px;
    text-transform: none;
  }
  .normal-listing-hero {
    height: 130px;
  }
  .listing-category-box {
    overflow: hidden;
    max-height: 20px;
    line-height: 13px;
  }
  .category-search-button {
    width: 100%;
  }
  .tab-link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 15px;
  }
  .tab-link.register {
    width: 40%;
  }
  .tabs-content {
    width: 100%;
  }
  .dynamic-item-20 {
    width: 20%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .single-dynamic-list {
    width: 48%;
  }
  .close-message-button {
    width: 20%;
    height: 40px;
  }
  .nav-menu {
    background-color: #4b4b4b;
  }
  .dynamic-item-30 {
    width: 33%;
    padding-right: 3px;
    padding-left: 3px;
  }
  .green-box-tittle {
    font-size: 16px;
  }
  .join-button {
    display: block;
    margin-top: 12px;
  }
  .slide-nav {
    display: none;
  }
  .about-us-image-section {
    height: 300px;
    padding-top: 56px;
    background-position: 50% 43px;
  }
  .slide {
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .slide-2 {
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slide-3 {
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slide-4 {
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slide-5 {
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 767px) {
  .homepageheroslider {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .hero-sentence {
    width: 70%;
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 36px;
  }
  .hero-undertittle {
    width: 65%;
    font-size: 19px;
    line-height: 19px;
  }
  .darken {
    height: 315px;
  }
  .hero-slider-image {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .hero-and-slider-section {
    display: none;
  }
  .hero-and-slider-section.mobile {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    text-align: center;
  }
  .so-far-paragraph {
    font-size: 21px;
  }
  .updates-small-paragraph {
    font-size: 14px;
  }
  .feautured-h3 {
    margin-top: 42px;
  }
  .feature-listing-tittle {
    max-height: auto;
  }
  .feature-listing-author {
    display: none;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .feauture-listing-subtittle {
    height: auto;
  }
  .feauture-based-in {
    font-size: 14px;
  }
  .profile-picture.thumbnail {
    display: none;
    width: auto;
    height: 30px;
    margin-top: 2px;
  }
  .general-paragraph.hero {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    clear: both;
  }
  .portfolio-slider-image {
    height: auto;
  }
  .feature-content-div {
    height: auto;
  }
  .listing-subtittle {
    font-size: 11px;
  }
  .listing-div {
    height: auto;
    max-height: auto;
  }
  .normal-listing-titttle {
    max-height: auto;
  }
  .reference-slider {
    height: 330px;
  }
  .tab-link {
    padding: 5px;
    line-height: 15px;
  }
  .tab-link.w--current {
    padding: 5px;
  }
  .tab-link.register {
    width: 30%;
  }
  .tab-text {
    font-size: 13px;
    line-height: 13px;
    text-decoration: none;
  }
  .tabs-content {
    width: 100%;
  }
  .dynamic-item-45 {
    width: 49%;
    margin-right: 1%;
  }
  .dynamic-item-20 {
    width: 30%;
  }
  .filter-button {
    top: 63px;
  }
  .message-section {
    position: static;
  }
  .close-message-button {
    width: 20%;
  }
  .dynamic-item-30 {
    width: 50%;
  }
  .green-divs {
    margin-bottom: 15px;
  }
  .team-member-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .regional-tabs {
    margin-top: 100px;
  }
  .join-button {
    position: static;
    margin-top: 29px;
    margin-bottom: 0%;
  }
}

@media (max-width: 479px) {
  .navbarlink.w--open {
    width: 100%;
  }
  .homepageheroslider {
    width: 100%;
    height: 100%;
  }
  .hero-sentence {
    top: 6%;
    margin-top: 7px;
    font-size: 17px;
    line-height: 26px;
  }
  .hero-undertittle {
    font-size: 13px;
  }
  .darken {
    height: 180px;
  }
  .hero-text-holder {
    top: 59px;
  }
  .hero-slider-image {
    width: 100%;
    height: auto;
  }
  .hero-and-slider-section.mobile {
    overflow: visible;
    width: 100%;
  }
  .brand.w--current {
    width: 60%;
  }
  .feautured-h3 {
    margin-top: 38px;
  }
  .feature-listing-author {
    width: 50px;
    height: 50px;
  }
  .profile-picture.thumbnail {
    margin-top: 7px;
  }
  .div-padding-10 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .normal-listing-titttle {
    text-transform: capitalize;
  }
  .reference-slider {
    height: 160px;
  }
  .tab-link {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
  }
  .tab-link.w--current {
    background-color: #fff;
    -webkit-transition: box-shadow 200ms ease, background-color 200ms ease, color 200ms ease;
    transition: box-shadow 200ms ease, background-color 200ms ease, color 200ms ease;
    color: #00a651;
  }
  .tab-link.register {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 26px;
    margin-left: auto;
  }
  .tab-text {
    float: none;
    font-size: 15px;
    text-align: center;
  }
  .tabs-content {
    width: 100%;
  }
  .tab-arrow {
    display: none;
  }
  .dynamic-item-45 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .dynamic-item-20 {
    width: 100%;
  }
  .single-dynamic-list {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .dropdown-link {
    width: 100%;
  }
  .close-message-button {
    width: 30%;
  }
  .dynamic-item-30 {
    width: 100%;
  }
  .join-button {
    position: relative;
    margin-top: 24px;
    margin-bottom: 0%;
  }
  .about-us-image-section {
    height: 200px;
    background-position: 50% 60px;
    background-repeat: no-repeat;
  }
}

