# Logs
logs
*.log
npm-debug.log*

# Runtime data
.DS_Store
# Dependency directories
node_modules
/dist/*
!/dist/images
!/dist/css
# Optional npm cache directory
.npm

# Coverage directory used by jest
coverage
\.vscode/
