.img-holder {
    button.close.btn-light.del-imgs {
        position: relative;
        right: 30px;
    }

    .img-thumbnail {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}
