.project {
    .profile-picture {
        display: block;
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        border: 4px solid #fff;
        border-radius: 100%;
        background-color: #fff;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
