.navbar {
    a {
        color: white;
    }

    .logo {
        width: 250px;

        @media screen and (max-width: 600px) {
            width: 150px;
        }
    }

    &.navbar-dark.fixed-top {
        padding-right: 6rem;

        @media screen and (max-width: 1000px) {
            padding-right: 1rem;
        }
    }

    .n-dropdown-link {
        font-family: Lato, sans-serif;
        font-size: 15px;
        font-weight: 100;
        text-transform: uppercase;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        padding: 10px 20px;
        display: block;
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        color: #fff;
        background-color: #444;
    }
    .n-dropdown-link:hover {
        background-color: #00a651;
    }
    .n-dropdown-menu {
        background-color: #444;
    }
}
